---
layout: default
---

<div class="container">
  <div class="row">
  {% if page.sidebar %}
    <div class="col-md-10 col-md-push-2">
  {% else %}
    <div class="col-md-12">
  {% endif %}
      <div class="row">
        <div class="col-md-3 col-md-push-9">
        {% include toc.html %}
        </div>
        <div class="col-md-9 col-md-pull-3 content">
        {{ content }}
        </div>
      </div>
    </div>
  {% if page.sidebar %}
    <div class="col-md-2 col-md-pull-10">
      {% capture data %}{% include sidebar/{{ page.sidebar }} %}{% endcapture %}
      {% include sidebar.html content=data %}
    </div>
  {% endif %}
  </div>
</div>

{% include comment.html %}